:root {
  --fundo: #f5f5f5;
  --principal: #007bff;
  --botoes: #ff6d00;
}

* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

html {
  height: auto;
  background: var(--fundo);
}

body {
  color: #000;
  /* margin: 15px 30px; */
  height: 100%;
  padding: 15px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

nav {
  background: #007bff;
  padding: 10px 20px;
  border-radius: 15px 15px 0px 0px;
}

nav,
main {
  max-width: 800px;
  width: 100%;
}

a {
  color: #eee;
}
a:hover {
  color: #ccc;
}

#cors-permission {
  max-width: 500px;
  text-align: justify;
  /* background: #007bff; */
}

h1 {
  text-transform: capitalize;
}

h1 + span {
  display: block;
}

abbr {
  display: block;
}

form {
  margin-top: 15px;
  text-align: center;
}

form > * {
  display: block;
  text-align: center;
  margin: 10px auto;
}

input {
  font-size: 1.2em;
}
input[type='submit'] {
  background: var(--botoes);
}

span.palavra:hover {
  cursor: pointer;
  /* filter: brightness(50%); */
  background: #0003;
  /* -webkit-filter: brightness(50%); */
  transition: all 0.3s ease-out;
}

#ui {
  background: #ffd700;
  padding: 10px 20px;
  border-radius: 0px 0px 15px 15px;
}

#ui > div > p {
  background: #00c853;
  color: #fff;
  border-radius: 30px;
  padding: 15px 10px;
  margin: 15px 0;
  text-align: justify;
  line-height: 1.75em;
}

#ui > div > p::first-letter {
  font-size: 1.25em;
  margin-left: 1.25em;
}

#loading {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  position: absolute;
  left: 40%;
  top: 10%;
  display: none;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #ff6d00;
  border: 5px solid black;
  transform-origin: center;
  animation: balanca infinite alternate-reverse ease-in-out 0.7s;
}

#loading.visible {
  display: flex;
}

@keyframes balanca {
  0% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
    /* rotate: -5deg; */
    /* top: 30%; */
  }
}

img {
  margin: 20px 0;
  border-radius: 30px;
  width: 50%;
  display: block;
}
